.header__title {
	font-size: 25px;
	text-decoration: none;
	margin: 0 20px 0 90px;
	text-transform: uppercase;
}

@media screen and (max-width: 1250px) {
	.header__title {
		margin: 0 20px 0 20px;
	}
}

@media screen and (max-width: 500px) {
	.header__title {
		margin: 0 10px 0 10px;
	}
}
