.footer {
	background-color: #f8b423;
	min-height: 845px;
	background-image: url(../../images/dogFooter.webp);
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: 350px;
	padding-bottom: 100px;
}

@media screen and (max-width: 1350px) {
	.footer {
		padding-bottom: 190px;
	}
}
