.footer__title {
	font-size: 62px;
	text-transform: uppercase;
	padding-top: 75px;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	color: #3a3b3d !important;
}

@media screen and (max-width: 775px) {
	.footer__title {
		font-size: 50px;
	}
}
