.header__menu {
	margin-right: 40px;
}

@media screen and (max-width: 1140px) {
	.header__menu {
		margin-right: 20px;
	}
}

@media screen and (max-width: 500px) {
	.header__menu {
		margin-right: 10px;
	}
}
