.header__menu-item {
	text-decoration: none;
	padding: 11px 25px;
	transition: color 0.4s ease;
	display: inline-block;
}

.header__menu-item:hover {
	color: #2e612e;
}

/* active color
color: #ff8b7b; */

@media screen and (max-width: 1140px) {
	.header__menu-item {
		padding: 11px 15px;
	}
}

@media screen and (max-width: 825px) {
	.header__menu-item:last-child {
		display: block;
		max-width: unset;
	}
}
