.header__menu-item {
	text-decoration: none;
	padding: 11px 20px;
	transition: color 0.4s ease;
	display: inline-block;
	vertical-align: middle;
}

.header__menu-item:hover {
	color: #2e612e;
}

@media screen and (max-width: 1145px) {
	.header__menu-item {
		padding: 11px 10px;
	}
}

@media screen and (max-width: 825px) {
	.header__menu-item:last-child {
		display: block;
		max-width: unset;
	}
}
