.product {
	display: flex;
	justify-content: space-around;
	max-width: 1000px;
	width: calc(100% - 50px);
	margin: 100px auto;
	font-family: 'worksans', sans-serif;
}

@media screen and (max-width: 900px) {
	.product {
		flex-direction: column;
	}
}
